#login-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(15, 15, 15);
}
#form{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* background: red; */
   
}
#login-page input{
width: 80%;
height: 20px;
padding: 30px 20px;
font-size: 17px;
background-color: transparent;
border:1px solid white;
border-radius: 30px;
outline: none;
color: white;
transition: 0.5s;
}
#login-page button{
    margin: 0;
    padding: 0;
    border: 2px solid white;
    background-color: white;
    color: black;
    width: 80%;
    padding: 20px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 900;
    transition: 0.5s;
    cursor: pointer;
}

#login-page input:hover{
    background-color: white;
    color: black;
}
#login-page button:hover{
    background-color:black;
    color: white;
}
#login-page h1{
    font-size: 40px;
}