@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

.main{
    background: url("../../assets/s2.jpg");
    height: calc(100vh);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h3{
    font-family: solway;
    font-weight: bold;
    font-size: 20px;
    margin:15vh 0vw;
}
h1{
    font-family: monospace;
    font-size: 8vw;
}
button{
    background: white;
    border: none;
    padding: 20px 30px;
    font-size: 15px;
    margin-top: 7vh;
    transition: 0.2s;
    cursor: pointer;
}
.main button:hover{
    background-color: rgb(233, 233, 233);
}
.main button:active{
    background-color: rgb(196, 194, 194);
}