.page5{
    height: 100vh;
    background-color: #F5F5EF;
    display: flex;
}
.page5 .page-l{
width: 50%;
}
.page5 .page-l img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page5 .page-r{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page5 .page-r .content{
    /* background-color: red; */
    width: 30vw;
    height: 70vh;
}
.page5 .page-r .content h1{
    font-size: 4vw;
}
.page5 .page-r .content h6{
    font-weight: bold;
    margin: 0px 0px;
    margin-top: 8vh;
}
.page5 .page-r .content p{
    font-size: 14px;
    font-weight: 100;
    margin: 0 0px;
}